@page "/"

<PageTitle>Home</PageTitle>

<h1>Seja bem vindo a plataforma aberta para critica de filmes!</h1>

<p>Critica Filmes é uma plataforma para amantes do cinema compartilharem suas experiencias recentes.</p>

